# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

[*.cs]
#Formatting - organize using options

#sort System.* using directives alphabetically, and place them before other usings
dotnet_sort_system_directives_first = true

#Formatting - header template

#add file header template
file_header_template = --------------------------------------------------------------------------------\nCopyright (c) Christo du Toit. All rights reserved.\nLicensed under the MIT License.\nSee License.txt in the project root for license information.\nFREE TO USE TO HELP SHARE THE GOSPEL\nMark 16:15 NIV "Go into all the world and preach the gospel to all creation."\nhttps://mark.bible/mark-16-15 \n--------------------------------------------------------------------------------
